
.button-link {
    display: inline-block;
    padding: 10px 20px; /* Adjust padding to your liking */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    text-decoration: none; /* Remove underline from the link */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
}

.button-link:hover {
    background-color: #0056b3; /* Change color on hover */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 36px;
    margin: 0;
}

.header p {
    font-size: 18px;
    margin: 10px 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


.center {
    border: 5px solid;
    margin: auto;
    width: 50%;
    padding: 10px;
  }

